---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/oauth/access_token?client_id=%3C1311663858901254%3E&client_secret=%3Ce0da58feea37bab9d74d7cb2704bee81%3E&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_client" "Invalid Client ID"
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid Client ID","type":"OAuthException","code":101,"fbtrace_id":"FESdhj6NzL3"}}'
  recorded_at: Tue, 29 Nov 2016 08:59:51 GMT
recorded_with: VCR 3.0.3
